.buttonWrapper {
  display: flex;
  gap: var(--clamp2);
}

.button {
  outline: none;
}

.buttonImage img {
  border-radius: 0;
}

@media (max-width: 700px) {
  .buttonWrapper {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .buttonWrapper {
    justify-content: space-between;
  }
}
